---
import Menu from '../../icons/Menu.astro';
import X from '../../icons/X.astro';
---

<button
  id="buttonToggleMennu"
  class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-txtLightPrimary rounded-lg md:hidden hover:bg-gray-100 dark:text-txtDarkPrimary dark:hover:bg-gray-700"
>
  <Menu id="openMenuIcon" class="" />
  <X id="closeMenuIcon" class="hidden" />
</button>

<script>
  const buttonToggleMennu = document.querySelector('#buttonToggleMennu');
  const menuContent = document.querySelector('#toggleOpenMenu');
  const openMenuIcon = document.querySelector('#openMenuIcon');
  const closeMenuIcon = document.querySelector('#closeMenuIcon');

  buttonToggleMennu?.addEventListener('click', () => {
    menuContent?.classList.toggle('hidden');
    openMenuIcon?.classList.toggle('hidden');
    closeMenuIcon?.classList.toggle('hidden');
  });
</script>
