---
import Peru from '../../icons/Peru.astro';
import Language from './Language.astro';
---

<div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">
  <button
    id="language-button"
    type="button"
    data-dropdown-toggle="language-dropdown-menu"
    class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
  >
    <Peru class="size-4" />
    Español
  </button>
  <!-- Dropdown -->
  <Language />
</div>

<script>
  const languageButton = document.querySelector('#language-button');
  const languageDropdownMenu = document.querySelector('#language-dropdown-menu');

  languageButton?.addEventListener('click', () => {
    languageDropdownMenu?.classList.toggle('hidden');
  });
</script>
