<a href="/" class="flex items-center space-x-3">
  <img src="YonderaTravel.svg" class="h-10" alt="Yondera Travel Logo" />
  <span
    class="self-center text-2xl font-semibold whitespace-nowrap text-txtLightPrimary dark:text-txtDarkPrimary"
    >Yondera Travel</span
  >
</a>
