---
import HeaderMenu from './header/HeaderMenu.astro';
import Logo from './header/Logo.astro';
---

<header
  class="sticky z-50 top-0 bg-white bg-opacity-40 backdrop-saturate-[180%] backdrop-blur-[20px]
  dark:bg-gray-900 dark:bg-opacity-40 dark:backdrop-saturate-[180%] dark:backdrop-blur-[20px]"
>
  <div class="relative max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <Logo />
    <HeaderMenu />
  </div>
</header>
