---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Yondera Travel</title>
  </head>
  <body>
    <img src="background.webp" alt="" class="-z-10 absolute" />
    <Header />
    <slot />
  </body>
</html>

<style>
  * {
    margin: 0%;
  }

  html {
    font-family: 'Onest Variable', sans-serif;
  }
  body {
    height: 100%;
  }
</style>
<script>
  const backgroundWhite = 'bg-white bg-opacity-40 backdrop-saturate-[180%] backdrop-blur-[20px]';
  const backgroundDark =
    'dark:bg-gray-900 dark:bg-opacity-40 dark:backdrop-saturate-[180%] dark:backdrop-blur-[20px]';
</script>
